.omdb-ltr{
	direction: ltr !important;
}

.imdbi-metabox-common-fields,
.imdbi-metabox-other-fields,
.imdbi-metabox-slide2,
.imdbi-metabox-slide3,
.imdbi-metabox-slide4,
.imdbi-metabox-loader,
.omdb-temp-results,
.imdbi-metabox-notify,
.imdbi-tab-wrapper{
	direction:rtl;
	unicode-bidi: embed;
	display: none;
}

.imdbi-metabox-slide1{
	text-align: center;
	padding:10px 0;
	margin-bottom:20px;
}
.imdbi-metabox-slide1 p{
	line-height: 190%;
}
.searchType-wrap{
	display: inline;
	margin-right:20px;
}
#imdbi-metabox-footer{
	background: #F7F7F7;
	border-top:1px solid #EBEBEB;
	padding: 20px;
	margin:-12px;
}

.imdbi-metabox-slide2 span{
	padding-right:10px;
}
.imdbi-metabox-slide2 fieldset, .imdbi-metabox-slide3 fieldset{
	margin-right:-20px;
	margin-top:20px;
	margin-bottom:20px;
}

.omdb-search-results ul li a{
	font-size: 15px;
}
.omdb-search-results ul li i{
	color:#45C15C;
}

.omdb-wrapper{
	display: inline-block;
	max-width: 50%;
	float: right;
	padding-right: 10px;
	margin-bottom: 20px;
}
.omdb-info small{
	padding:0 5px;
	 color:#444 !important;
}
.omdb-error{
	text-align: center;
}
.imdbi-metabox-btn{
	margin:0 5px !important;
}

.imdbi-tab-wrapper{
	margin-bottom:20px;
}
.nav-tab-wrapper{
	padding:9px 15px 0 0 !important;
}

.omdb-info ul {margin: 4px 16px;}
.omdb-info ul li {
	color: #666;
}
.omdb-info ul li b, .omdb-info ul li h1 {
	color: #333;
}
.omdb-info ul li h1 {font-weight: bold;}
.omdb-info ul li input[name="imdbi-submit-info"] {
	margin-top: 30px;
}

#imdbi-warning-close{
	text-decoration: none;
	color:#999;
}
.imdbi-warning{
	display: none;
}
